@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "theme.scss";

%btnStyle {
  background-color: white;
  font-size: 16px;
  font-weight: 600;
}

body {
  margin: 0;
  color: $primary;
  font-family: "Pretendard";

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    @extend %maxWidth;

    .menu {
      .logo {
        width: 108px;
      }

      button {
        display: none;
        border: 0px;
        padding-left: 16px;
        padding-right: 16px;
        @extend %btnStyle;
      }

      &:nth-child(2) {
        margin-left: 44px;
      }
    }

    .loginBox {
      display: flex;
      align-items: center;
      .login {
        display: inline-block;
        border: 1px solid rgb(232, 232, 232);
        border-radius: 9999px;
        padding: 8px 16px;
        font-size: 14px;
        @extend %btnStyle;
      }

      .elipsis {
        width: 24px;
        margin-left: 16px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .menu button {
    display: inline-block;
  }

  .login {
    color: $secondary;
    font-size: 16px;
    border: 0px;
    padding: 0px;
  }

  .ellipsis {
    display: none;
  }
}
