.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: black;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
}

.box:nth-child(1) {
  background-color: wheat;
}

.box:nth-child(2) {
  background-color: indianred;
}

.box:nth-child(3) {
  background-color: cadetblue;
}
