body {
  margin: 0;
  background-color: lightblue;
  color: darkblue;
}

h1 {
  background-color: aliceblue;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
