@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background-color: lightblue;
  color: lightgoldenrodyellow;
}

h1 {
  background-color: lightgoldenrodyellow;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  //   background-color: lightsalmon; 영역 확인 용
  width: 100vw;
  height: 100vh;

  // 화면 정 가운데로 글자 배치_flex
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .quotes {
    position: relative;
    .quotesAddBtn {
      display: none;
      position: absolute;
      top: 20px;
      // right: 50%;
      // translate: (50%, -50%);
    }

    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }
  .newQuotes {
    display: none;
  }

  .search {
    .searchLogo {
      width: 32px;
      height: 32px;

      animation: spin 10s linear infinite;
    }
  }
}
