@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background-color: lightblue;
  color: lightgoldenrodyellow;
}

h1 {
  background-color: lightgoldenrodyellow;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  //   background-color: lightsalmon; 영역 확인 용
  width: 100vw;
  height: 100vh;

  // 화면 정 가운데로 글자 배치_flex
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .quotes {
    position: relative;
    .quotesAddBtn {
      display: none;
      position: absolute;
      top: 20px;
      // right: 50%;
      // translate: (50%, -50%);
    }

    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }
  .newQuotes {
    display: none;
  }

  .search {
    .searchLogo {
      width: 32px;
      height: 32px;

      animation: spin 10s linear infinite;
    }

    .searchResult {
      display: none;
    }
  }

  .nft {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;

    img {
      width: 150px;
      height: 150px;
    }

    .nftHover {
      position: absolute;
      display: none; // 처음에는 꺼졌다가 hover 하면 보이게
      width: 150px;
      height: 150px;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0, 0.5);

      a {
        color: white;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        margin: -8px;
        border-radius: 999px;
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      .nftHover {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
